body {
    font-family: 'Open Sans';
}

h1, .enablePush {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Ripple effect */
.ripple {
    background-position: center;
    transition: all 0.8s;
  }
  .ripple:hover {
    background: #1a8cff radial-gradient(circle, transparent 1%, #1a8cff 1%) center/15000%;
  }
  .ripple:active {
    background-color: #47a7f5;
    background-size: 100%;
    transition: 0s;
  }

button {
    width: auto;
    padding: 10px;
    border: 2px solid #1a8cff;
    border-radius: 5px;
    background: #1a8cff;
    color: white;
    font-family: 'Open Sans';
    font-weight: bolder;
    cursor: pointer;
    outline: none;
}