@font-face {
  font-family: 'Open Sans';
  src: url('fonts/OpenSans-Regular.ttf');
}

body {
    font-family: 'Open Sans';
    overflow-x: hidden;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.networkUnavailable {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  color: white;
  height: 30px;
}

.bookSummary {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}

.bookContainer {
  display: flex;
  position: relative;
  left: 15%;
  padding: 30px;
}

.bookImage {
  width: 16%;
  padding-right: 40px;
}

.author {
  color: grey;
  font-size: 16px;
}

.publishYear {
  color: grey;
  font-size: 12px;
}
.bookSummary {
  padding-top: 20px;
}

.bookInfo {
  width: 600px;
}